<div><strong>{{ p.title_en | if_exists: p.title }}</strong></div>
<div>{{ p.names_en | if_exists: p.names | format_author: p.presentor_id }}</div>
<div>
  {% if p.type contains "oral" %} Oral {% else %} Poster {% endif %} presentation 
  {% unless p.international %}(in {% case p.lang %}{% when "en" %}English{% when "ja" %}Japanese{% endcase %}){% endunless %}
  in
  {% if p.conference.url %}
  <a href="{{ p.conference.url }}"><i>{{ p.conference.name_en | if_exists: p.conference.name }}</i></a>
  {% else %}
  <i>{{ p.conference.name }}</i> 
  {% endif %}, 
  {{ p.conference.place | join: ", " }} ({{ p.presentation_date | date: "%b. %Y"}}).
</div>

