<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#top-navbar" aria-controls="top-navbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="top-navbar">
    <a class="navbar-brand samewindow" href="{{ '/' | relative_url }}">{{ site.title }}</a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      {% for p in site.static_pages %}
      {% if p.link == page.url %}
      <li class="nav-item active"><a class="nav-link samewindow" href="{{ p.link | relative_url }}">{{ p.name }}
          <span class="sr-only">(current)</span></a></li>
      {% else %}
      <li><a class="nav-link samewindow" href="{{ p.link | relative_url }}">{{ p.name }}</a></li>
      {% endif %}
      {% endfor %}

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Links
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          {% for link in site.data.links %}
          <a class="dropdown-item" href="{{ link.url }}" target="_new">{{ link.label }}</a>
          {% endfor %}
        </div>
      </li>
    </ul>
  </div>
</nav>

