<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-navbar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand samewindow" href="{{ '/' | relative_url }}">{{ site.title }}</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="top-navbar">
      <ul class="nav navbar-nav">
        {% for p in site.static_pages %}
          {% if p.link == page.url %}
          <li class="active"><a href="{{ p.link | relative_url }}" class="samewindow">{{ p.name }}
            <span class="sr-only">(current)</span></a></li>
          {% else %}
          <li><a href="{{ p.link | relative_url }}" class="samewindow">{{ p.name }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Links<span class="caret"></span></a>
          <ul class="dropdown-menu">
            {% for link in site.data.links %}
            <li><a href="{{ link.url }}" target="_new">{{ link.label }}</a></li>
            {% endfor %}
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

