<div class="profilecard hovercard">
  <div class="profilecardheader" style='background: url({% asset_path profile-back.jpg %});'>
  </div>
  <div class="avatar">
    {% image me3.png  %}
  </div>
  <div class="info">
    <div class="title">
      Yohsuke T. Fukai
    </div>
    <div class="title">
      深井 洋佑
    </div>
    <div class="desc">Ph. D. Student</div>
    <div class="desc">Depertment of Physics,<br> the University of Tokyo</div>
    <div class="desc">Sano laboratory</div>
    <div class="desc"><span class="fa fa-envelope"></span> ysk _at_ yfukai.net</div>
  </div>
  <div class="bottom">
    <a class="btn btn-primary btn-twitter btn-sm btn-social" href="https://twitter.com/{{ site.twitter_username }}">
      <i class="fa fa-twitter"></i>
    </a>
    <a class="btn btn-primary btn-google-scholar btn-sm btn-social" href="{{ site.google_scholar_url }}">
      <i class="ai ai-google-scholar"></i>
    </a>
    <a class="btn btn-primary btn-researchgate btn-sm btn-social" href="{{ site.researchgate_url }}">
      <i class="ai ai-researchgate"></i>
    </a>
  </div>
</div>

