<div class='card card-profile text-center'>
  <div class='card-img-top' style='background-image:url({% asset_path profile-back.jpg %});'>
  </div>
  <div class='card-block'>
    <img alt='' class='card-img-profile' src='{% asset_path me3.png %}'>
    <h4 class='card-title'>
      Yohsuke T. Fukai, Ph. D.
    </h4>
    <h4 class='card-title'>
      深井 洋佑
    </h4>
    <div class="desc">Postdoctal Researcher</div>
    <div class="desc">BDR, RIKEN</div>
    <div class="desc">Nonequilibrium physics of living matter <br>
      Riken Hakubi research team</div>
    <div class='card-links'>
      <a class='fa fa-twitter' href="https://twitter.com/{{ site.twitter_username }}"></a>
      <a class='ai ai-google-scholar' href="{{ site.google_scholar_url }}"></a>
      <a class='ai ai-researchgate' href="{{ site.researchgate_url }}"></a>
    </div>
    <div class="desc"><span class="fa fa-envelope"></span> ysk<span class="fa fa-at"></span>yfukai.net</div>
    <div class="desc spacer"><span class="fa fa-delicious"></span></div>
    <div class="desc"><span class="fa fa-book"></span> <a href="https://researchmap.jp/yfukai/" class="card-link">researchmap:yfukai</a></div>
    <div class="desc spacer"><span class="fa fa-coffee"></span></div>
    <div class="desc"><span class="fa fa-building"></span> 
      Room N502, Build. C
    </div>
    <div class="desc">2-2-3 Minatojima-minamimachi, Chuo-ku</div>
    <div class="desc">Kobe, Hyogo, 650-0047 Japan</div>
  </div>
</div>

<!--  
</div> -->

