<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Use title if it's in the page YAML frontmatter -->
    <title> {{ site.title }} </title>
    {% include google_analysis.html %}

    <!-- Bootstrap -->
     <!-- {% stylesheet profile  %} -->
    {% stylesheet application %} 

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="container-fluid">
      {% include navbar.html %}
      <div class="row" style="margin-top: 1em;">
        <div class="col-md-9" id="content">
          {{ content }}
        </div>
        <div class="col-md-3 order-md-first">
          {% include profile.html %}
        </div>
      </div>
    </div>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    {% javascript application %}
  </body>
</html>
