.profilecard.hovercard{
    background-color: white;
}
ul.bibliography{
    list-style-type: circle;
}
ul.presentations{
    margin: 0;
/*    padding: 0 10px 0 10px; */
    list-style-type: circle;
}
ul.presentations li{
    margin-bottom: 5px;
}
ul.presentations hr{
    margin: 0;
}

div.bibliography-ref{
    color: #333333;
}
h1.main-panel-title{
    font-size: 30px;
}
div.main-panel-body{
    padding: 15px;
}

div.main-panel-body h3{
    margin-top:1em;
}
div.main-panel-body h3:first-child{
    margin-top:0;
}
div.main-panel-body h4{
    margin-left: 10px;
    font-weight: bold;
}
.indented{
    margin-left: 1em;
}
