/* https://codepen.io/ibanez182/pen/epBzoJ */

.card-profile {
  width: 100%;
/*  margin: 50px auto;*/
  background-color: #e6e5e1;
  border-radius: 0;
  border: 0;
/*  -webkit-box-shadow: 1em 1em 2em rgba(0, 0, 0, 0.2);
          box-shadow: 1em 1em 2em rgba(0, 0, 0, 0.2); */
}
.card-profile .card-img-top {
  border-radius: 0;
}
.card-profile .card-img-profile {
  max-width: 100%;
  border-radius: 50%;
  margin-top: -95px;
  margin-bottom: 35px;
  border: 5px solid #e6e5e1;
}
.card-profile .card-title small {
  display: block;
  font-size: .6em;
  margin-top: .2em;
}
.card-profile .card-links {
  margin-bottom: 25px;
}
.card-profile .card-links .fa, .card-profile .card-links .ai {
  margin: 0 1em;
  font-size: 1.6em;
}
.card-profile .card-links .fa:focus, .card-profile .card-links .fa:hover 
.card-profile .card-links .ai:focus, .card-profile .card-links .ai:hover 
{
  text-decoration: none;
}

.card-profile .card-links .fa.fa-twitter {
  color: #68aade;
}
.card-profile .card-links .fa.fa-twitter:hover {
  color: #3e92d5;
}


