/* http://bootsnipp.com/codename065 */

.profilecard {
    padding-top: 20px;
    margin: 0 0 20px 0;
    background-color: rgba(214, 224, 226, 0.2);
    border-top-width: 0;
    border-bottom-width: 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.profilecard .profilecard-heading {
    padding: 0 20px;
    margin: 0;
}

.profilecard .profilecard-heading.simple {
    font-size: 20px;
    font-weight: 300;
    color: #777;
    border-bottom: 1px solid #e5e5e5;
}

.profilecard .profilecard-heading.image img {
    display: inline-block;
    width: 46px;
    height: 46px;
    margin-right: 15px;
    vertical-align: top;
    border: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.profilecard .profilecard-heading.image .profilecard-heading-header {
    display: inline-block;
    vertical-align: top;
}

.profilecard .profilecard-heading.image .profilecard-heading-header h3 {
    margin: 0;
    font-size: 14px;
    line-height: 16px;
    color: #262626;
}

.profilecard .profilecard-heading.image .profilecard-heading-header span {
    font-size: 12px;
    color: #999999;
}

.profilecard .profilecard-body {
    padding: 0 20px;
    margin-top: 20px;
}

.profilecard .profilecard-media {
    padding: 0 20px;
    margin: 0 -14px;
}

.profilecard .profilecard-media img {
    max-width: 100%;
    max-height: 100%;
}

.profilecard .profilecard-actions {
    min-height: 30px;
    padding: 0 20px 20px 20px;
    margin: 20px 0 0 0;
}

.profilecard .profilecard-comments {
    padding: 20px;
    margin: 0;
    background-color: #f8f8f8;
}

.profilecard .profilecard-comments .comments-collapse-toggle {
    padding: 0;
    margin: 0 20px 12px 20px;
}

.profilecard .profilecard-comments .comments-collapse-toggle a,
.profilecard .profilecard-comments .comments-collapse-toggle span {
    padding-right: 5px;
    overflow: hidden;
    font-size: 12px;
    color: #999;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.profilecard-comments .media-heading {
    font-size: 13px;
    font-weight: bold;
}

.profilecard.people {
    position: relative;
    display: inline-block;
    width: 170px;
    height: 300px;
    padding-top: 0;
    margin-left: 20px;
    overflow: hidden;
    vertical-align: top;
}

.profilecard.people:first-child {
    margin-left: 0;
}

.profilecard.people .profilecard-top {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 170px;
    height: 150px;
    background-color: #ffffff;
}

.profilecard.people .profilecard-top.green {
    background-color: #53a93f;
}

.profilecard.people .profilecard-top.blue {
    background-color: #427fed;
}

.profilecard.people .profilecard-info {
    position: absolute;
    top: 150px;
    display: inline-block;
    width: 100%;
    height: 101px;
    overflow: hidden;
    background: #ffffff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.profilecard.people .profilecard-info .title {
    display: block;
    margin: 8px 14px 0 14px;
    overflow: hidden;
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    color: #404040;
}

.profilecard.people .profilecard-info .desc {
    display: block;
    margin: 8px 14px 0 14px;
    overflow: hidden;
    font-size: 12px;
    line-height: 16px;
    color: #737373;
    text-overflow: ellipsis;
}

.profilecard.people .profilecard-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    padding: 10px 20px;
    line-height: 29px;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.profilecard.hovercard {
    position: relative;
    padding-top: 0;
    overflow: hidden;
    text-align: center;
    background-color: rgba(214, 224, 226, 0.2);
}

.profilecard.hovercard .profilecardheader {
    background: url("http://lorempixel.com/850/280/nature/4/");
    background-size: cover;
    height: 135px;
}

.profilecard.hovercard .avatar {
    position: relative;
    top: -50px;
    margin-bottom: -50px;
}

.profilecard.hovercard .avatar img {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255,255,255,0.5);
}

.profilecard.hovercard .info {
    padding: 4px 8px 10px;
}

.profilecard.hovercard .info .title {
    margin-bottom: 4px;
    font-size: 24px;
    line-height: 1;
    color: #333333;
    vertical-align: middle;
}

.profilecard.hovercard .info .desc {
    overflow: hidden;
    font-size: 12px;
    line-height: 20px;
    color: #737373;
    text-overflow: ellipsis;
}

.profilecard.hovercard .bottom {
    padding: 0 20px;
    margin-bottom: 17px;
}

.profilecard .btn{ border-radius: 50%; width:32px; height:32px; line-height:18px;  }

a.btn-social,
.btn-social
{
    border-radius: 50%;
    color: #ffffff !important;
    display: inline-block;
    height: 54px;
    line-height: 54px;
    margin: 8px 4px;
    text-align: center;
    text-decoration: none;
    transition: background-color .3s;
    webkit-transition: background-color .3s;
    width: 54px;
}

.btn-social .fa,.btn-social i
{
    backface-visibility: hidden;
    moz-backface-visibility: hidden;
    ms-transform: scale(1);
    o-transform: scale(1);
    transform: scale(1);
    transition: all .25s;
    webkit-backface-visibility: hidden;
    webkit-transform: scale(1);
    webkit-transition: all .25s;
}
.btn-social:hover,.btn-social:focus
{
    color: #fff;
    outline: none;
    text-decoration: none;
}
.btn-social:hover .fa,.btn-social:focus .fa,.btn-social:hover i,.btn-social:focus i
{
    ms-transform: scale(1.3);
    o-transform: scale(1.3);
    transform: scale(1.3);
    webkit-transform: scale(1.3);
}
.btn-social.btn-xs
{
    font-size: 9px;
    height: 24px;
    line-height: 13px;
    margin: 6px 2px;
    width: 24px;
}
.btn-social.btn-sm
{
    font-size: 13px;
    height: 36px;
    line-height: 18px;
    margin: 6px 2px;
    width: 36px;
}
.btn-social.btn-lg
{
    font-size: 22px;
    height: 72px;
    line-height: 40px;
    margin: 10px 6px;
    width: 72px;
}

.btn-behance
{
    background-color: #1769ff;
}
.btn-behance:hover
{
    background-color: #4a8aff;
}
.btn-bitbucket
{
    background-color: #205081;
}
.btn-bitbucket:hover
{
    background-color: #2a69aa;
}
.btn-codepen
{
    background-color: #76daff;
}
.btn-codepen:hover
{
    background-color: #a9e8ff;
}
.btn-deviantart
{
    background-color: #4e6252;
}
.btn-deviantart:hover
{
    background-color: #657e6a;
}
.btn-digg
{
    background-color: #000;
}
.btn-digg:hover
{
    background-color: #1a1a1a;
}
.btn-dribbble
{
    background-color: #ea4c89;
}
.btn-dribbble:hover
{
    background-color: #ef7aa7;
}
.btn-dropbox
{
    background-color: #007ee5;
}
.btn-dropbox:hover
{
    background-color: #1998ff;
}
.btn-facebook
{
    background-color: #3b5998;
}
.btn-facebook:hover
{
    background-color: #4c70ba;
}
.btn-flickr
{
    background-color: #0063dc;
}
.btn-flickr:hover
{
    background-color: #107cff;
}
.btn-foursquare
{
    background-color: #ef4b78;
}
.btn-foursquare:hover
{
    background-color: #f37a9b;
}
.btn-github
{
    background-color: #4183c4;
}
.btn-github:hover
{
    background-color: #689cd0;
}
.btn-google-plus
{
    background-color: #dd4b39;
}
.btn-google-plus:hover
{
    background-color: #e47365;
}
.btn-instagram
{
    background-color: #3f729b;
}
.btn-instagram:hover
{
    background-color: #548cb9;
}
.btn-jsfiddle
{
    background-color: #4679bd;
}
.btn-jsfiddle:hover
{
    background-color: #6c94ca;
}
.btn-lastfm
{
    background-color: #e31b23;
}
.btn-lastfm:hover
{
    background-color: #e9484e;
}
.btn-linkedin
{
    background-color: #0976b4;
}
.btn-linkedin:hover
{
    background-color: #0b96e5;
}
.btn-paypal
{
    background-color: #253b80;
}
.btn-paypal:hover
{
    background-color: #304da8;
}
.btn-pinterest
{
    background-color: #cc2127;
}
.btn-pinterest:hover
{
    background-color: #e04046;
}
.btn-reddit
{
    background-color: #ff4500;
}
.btn-reddit:hover
{
    background-color: #ff6a33;
}
.btn-skype
{
    background-color: #00aff0;
}
.btn-skype:hover
{
    background-color: #24c4ff;
}
.btn-soundcloud
{
    background-color: #f80;
}
.btn-soundcloud:hover
{
    background-color: #ffa033;
}
.btn-stack-overflow
{
    background-color: #fe7a15;
}
.btn-stack-overflow:hover
{
    background-color: #fe9748;
}
.btn-steam
{
    background-color: #7da10e;
}
.btn-steam:hover
{
    background-color: #a1d012;
}
.btn-stumbleupon
{
    background-color: #eb4924;
}
.btn-stumbleupon:hover
{
    background-color: #ef7053;
}
.btn-trello
{
    background-color: #256a92;
}
.btn-trello:hover
{
    background-color: #2f88bb;
}
.btn-tumblr
{
    background-color: #35465c;
}
.btn-tumblr:hover
{
    background-color: #485f7c;
}
.btn-twitch
{
    background-color: #6441a5;
}
.btn-twitch:hover
{
    background-color: #7e5bbe;
}
.btn-twitter
{
    background-color: #55acee;
}
.btn-twitter:hover
{
    background-color: #2e99ea;
}
.btn-vimeo
{
    background-color: #1ab7ea;
}
.btn-vimeo:hover
{
    background-color: #49c6ee;
}
.btn-vine
{
    background-color: #00b488;
}
.btn-vine:hover
{
    background-color: #00e7af;
}
.btn-vk
{
    background-color: #45668e;
}
.btn-vk:hover
{
    background-color: #587fae;
}
.btn-wechat
{
    background-color: #98d11c;
}
.btn-wechat:hover
{
    background-color: #afe53b;
}
.btn-wordpress
{
    background-color: #21759b;
}
.btn-wordpress:hover
{
    background-color: #2a95c5;
}
.btn-xing
{
    background-color: #026466;
}
.btn-xing:hover
{
    background-color: #039598;
}
.btn-yahoo
{
    background-color: #400191;
}
.btn-yahoo:hover
{
    background-color: #5601c4;
}
.btn-yelp
{
    background-color: #af0606;
}
.btn-yelp:hover
{
    background-color: #e00808;
}
.btn-youtube
{
    background-color: #e52d27;
}
.btn-youtube:hover
{
    background-color: #ea5955;
}
.btn-email
{
    background-color: #44c456;
}
.btn-email:hover
{
    background-color: #6bd079;
}
.btn-google-scholar
{
    background-color: #4885ed;
}
.btn-google-scholar:hover
{
    background-color: #2a70ea;
}
.btn-researchgate
{
    background-color: #00d0af;
}
.btn-researchgate:hover
{
    background-color: #00b395;
}
